*.iml
.kotlin
.gradle
**/bin/
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.fleet
.vscode
.DS_Store
captures
.externalNativeBuild
.cxx
.env
test.apk
composeApp/schemas/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
reference/
target/
.codex
*.apk
*.log
*.sock
.agents
